@import "bootstrap";
body {
  padding-top: 20px;
}
.alert-message{
  position: absolute;
  top: 100px;
  z-index: 9;
  right: 30px;
  width: 30%;
}
.fade.in{
  -webkit-transition:opacity 1s; /* Safari */
  transition: opacity 1s;
}
