<h1>Invitations</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |invitation|}}
    <tr>
      <th>{{invitation.id}}</th>
      <td>{{invitation.email}}</td>
      <td><button class="btn btn-danger btn-xs" {{action 'deleteLibrary' invitation}}>Delete</button></td>
    </tr>
    {{else}}
    <tr>
      <td colspan="3">there is no Data Found</td>
    </tr>
  {{/each}}
  </tbody>
</table>
